//start coding by removing this file and adding yours ;)
// @import "wcs";
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: "Avalon";
    src: url("/assets/fonts/Avalon.ttf") format('truetype'); 
}

// -------------------------variables-------------------
$firstColor: black;
$secondColor:rgb(157,158,156);
$thirdColor: rgb(163,157,135);
$whiteColor: white;

$firstFont:'Bodoni Moda', serif;
$secondfont: 'Avalon';
$fontWeight: 600;
// -------------------initialisation----------------

* {
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: $firstFont;
    font-weight: $fontWeight;
}

body {
    background-color: $whiteColor;
}

// ------------header---------------
.card {
    background-color: $whiteColor;
    border: none;
}

.header{
    display: flex;
    justify-content: center;
}

.choix{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}
.pform{
    font-family: $secondfont;
}

// ---------------media querie------------
@media screen and (min-width: 780px) { 
    .choix{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}